user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;
events {
	worker_connections 768;
	# multi_accept on;
}
http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	server_tokens off;

	{% if ENABLE_SSL %}
	ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
	ssl_prefer_server_ciphers on;
	ssl_certificate {{ SSL_CERTIFICATE }};
	ssl_certificate_key {{ SSL_CERTIFICATE_KEY }};
	{% endif %}

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	server {
		{% if ENABLE_HTTP %}
		listen 80;
		listen [::]:80;
		{% endif %}
		{% if ENABLE_SSL %}
		listen 443 ssl http2;
		listen [::]:443 ssl http2;
		{% endif %}
		server_name {{inventory_hostname}}.{{DNS_CORE_DOMAIN}};
		client_max_body_size 100M;
		location / {
			proxy_set_header HOST $host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_pass {{SOFIE_CORE_URL}}/;
		}
	}

	server {
		{% if ENABLE_HTTP %}
		listen 80;
		listen [::]:80;
		{% endif %}
		{% if ENABLE_SSL %}
		listen 443 ssl http2;
		listen [::]:443 ssl http2;
		{% endif %}
		server_name mediamanager.{{inventory_hostname}}.{{DNS_CORE_DOMAIN}};
		location / {
			proxy_set_header HOST $host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_pass http://{{CASPAR_CG_IP}}:8000/;
		}
	}

        {% if CASPAR_CG_IP_2 is defined and CASPAR_CG_IP_2|length %}
	server {
		{% if ENABLE_HTTP %}
		listen 80;
		listen [::]:80;
		{% endif %}
		{% if ENABLE_SSL %}
		listen 443 ssl http2;
		listen [::]:443 ssl http2;
		{% endif %}
		server_name mediamanager.{{inventory_hostname}}.{{DNS_CORE_DOMAIN}};
		location /jingler/ {
			proxy_set_header HOST $host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_pass http://{{CASPAR_CG_IP_2}}:8000/;
		}
	}
        {% endif %}

	{% if SISYFOS_URL %}
	server {
		{% if ENABLE_HTTP %}
		listen 80;
		listen [::]:80;
		{% endif %}
		{% if ENABLE_SSL %}
		listen 443 ssl http2;
		listen [::]:443 ssl http2;
		{% endif %}
		server_name sisyfos.{{inventory_hostname}}.{{DNS_CORE_DOMAIN}};
		location / {
			proxy_set_header HOST $host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_pass {{SISYFOS_URL}}/;
		}
	}
	{% endif %}
        
	{% if IS_QBOX %}
	server {
		{% if ENABLE_HTTP %}
		listen 80;
		listen [::]:80;
		{% endif %}
		{% if ENABLE_SSL %}
		listen 443 ssl http2;
		listen [::]:443 ssl http2;
		{% endif %}
		server_name multiview.{{inventory_hostname}}.{{DNS_CORE_DOMAIN}};
		location / {
			root /opt/blueprints/nginx/external-frames/multiview;
		}
		location /feed/ {
			proxy_set_header HOST $host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_pass http://{{CASPAR_CG_STREAM_IP}}:5255/;
		}	
	}
	{% endif %}
}
