# Hostnames for devices 

[sofieserver]
    Qbox01 ansible_ssh_host=192.xxx.xx.xx HOSTNAME=xxx TOKEN=hjk3234hjk1l1k2j3h1k1j2h4gb

[sofieserver:vars]
    ansible_user=xx
    ansible_ssh_pass=yy
    TIMEZONE=copenhagen
    ELASTIC_IP=xx.xx.xx.xx
    ELASTIC_PORT=9200
    CORE_TAG=develop
    INEWS_TAG=develop
    PLAYOUT_TAG=develop
    SISYFOS_TAG=develop
    MONGO_TAG=3.4