{
   "machines": [
        {
            "id": "odsofavfd",
            "label": "AFV D (.11)",
            "description": "",
            "hostname": "http://nginx:8080/odsofavfd"
        },
        {
            "id": "odsofzero",
            "label": "SOFIE ZERO",
            "description": "",
            "hostname": "http://nginx:8080/odsofzero"
        },
        {
            "id": "odsofq1",
            "label": "Q-BOX 01",
            "description": "",
            "hostname": "http://nginx:8080/odsofq1"
        },
        {
            "id": "odsofq2",
            "label": "Q-BOX 02",
            "description": "",
            "hostname": "http://nginx:8080/odsofq2"
        },
        {
            "id": "odsisafvd",
            "label": "AFV D Sisyfos",
            "description": "",
            "hostname": "http://nginx:8080/odsisafvd"
        },
        {
            "id": "odsiszero",
            "label": "ZERO Sisyfos",
            "description": "",
            "hostname": "http://nginx:8080/odsiszero"
        },
        {
            "id": "odsisq1",
            "label": "Q1 Sisyfos",
            "description": "",
            "hostname": "http://nginx:8080/odsisq1"
        },
        {
            "id": "odsisq2",
            "label": "Q2 Sisyfos",
            "description": "",
            "hostname": "http://nginx:8080/odsisq2"
        },
        {
            "id": "odndiweb",
            "label": "WEB NDI",
            "description": "",
            "hostname": "http://nginx:8080/odndiweb"
        },
        {
            "id": "odzabbix",
            "label": "ZABBIX",
            "description": "",
            "hostname": "http://nginx:8080/odzabbix"
        },
        {
            "id": "odkibana",
            "label": "KIBANA",
            "description": "",
            "hostname": "http://nginx:8080/odkibana"
        }
    ]

}