{
   "machines": [
        {% for machine in machines  %}
        {
            "id": "{{machine.id}}",
            "label": "{{machine.label}}",
            "description": "{{machine.description}}",
            "hostname": "{{machine.hostname}}"
        }
        {%if not forloop.last%},{%endif%}
        {% endfor %}
    ]

}