{
    "users": [
        {
            "id": "test",
            "name": "test",
            "accessRights": [
                {
                    "machineId": "1",
                    "label": "",
                    "path": ""
                },
                {
                    "machineId": "2",
                    "path": "",
                    "label": "h"
                },
                {
                    "machineId": "2",
                    "label": "",
                    "path": ""
                },
                {
                    "machineId": "3",
                    "label": "",
                    "path": ""
                }
            ]
        }
    ]
}