{
   "showSnaps":false,
   "showSettings":false,
   "showPagesSetup":false,
   "showChanStrip":2,
   "showChanStripFull":-1,
   "showOptions":false,
   "showMonitorOptions":-1,
   "showStorage":false,
   "currentPage":{
      "type":0
   },
   "numberOfMixers":1,
   "mixers":[
      {
         "mixerProtocol":"midasMaster",
         "deviceIp":"{{MIDAS_IP}}",
         "devicePort":"10023",
         "protocolLatency":220,
         "mixerMidiInputPort":"",
         "mixerMidiOutputPort":"",
         "numberOfAux":"16",
         "nextSendAux":"11",
         "numberOfChannelsInType":[
            30
         ],
         "mixerOnline":true,
         "localIp":"0.0.0.0",
         "localOscPort":"2000"
      }
   ],
   "enableRemoteFader":false,
   "remoteFaderMidiInputPort":"",
   "remoteFaderMidiOutputPort":"",
   "numberOfFaders":"11",
   "numberOfSnaps":8,
   "voLevel":30,
   "autoResetLevel":5,
   "automationMode":false,
   "offtubeMode":true,
   "fadeTime":"200",
   "voFadeTime":280,
   "showPfl":false,
   "enablePages":true,
   "numberOfCustomPages":"1",
   "chanStripFollowsPFL":true,
   "serverOnline":true
}